<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Catalogo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Catalogo.Properties.Settings>
            <setting name="Catalogo_CatalogoWS_Info" serializeAs="String">
                <value>http://192.168.40.129/wsCatalogo4/Info.asmx</value>
            </setting>
            <setting name="Catalogo_VerExistenciaWS_VerExistencia" serializeAs="String">
                <value>http://190.3.78.12/wsOracle/VerExistencia.asmx</value>
            </setting>
            <setting name="Catalogo_UpdateClientesWS_UpdateClientes" serializeAs="String">
                <value>http://190.3.78.12/wsCatalogo4/UpdateClientes.asmx</value>
            </setting>
            <setting name="Catalogo_AppConfigWS_appConfig" serializeAs="String">
                <value>http://190.3.78.12/wsCatalogo4/appConfig.asmx</value>
            </setting>
            <setting name="Catalogo_LLaveClienteWS_LLaveCliente" serializeAs="String">
                <value>http://190.3.78.12/wsCatalogo4/LLaveCliente.asmx</value>
            </setting>
            <setting name="Catalogo_AuditWS_audit_v_304" serializeAs="String">
                <value>http://190.3.78.12/wsCatalogo4/audit_v_304.asmx</value>
            </setting>
            <setting name="Catalogo_ClientesNovedadesWs_ClientesNovedades"
                serializeAs="String">
                <value>http://190.3.78.12/wsCatalogo4/ClientesNovedades.asmx</value>
            </setting>
            <setting name="Catalogo_DevolucionWS_Devolucion" serializeAs="String">
                <value>http://190.3.78.12/wsCatalogo4/Devolucion.asmx</value>
            </setting>
            <setting name="Catalogo_InterDepositoWS_InterDeposito" serializeAs="String">
                <value>http://190.3.78.12/wsCatalogo4/InterDeposito.asmx</value>
            </setting>
            <setting name="Catalogo_PedidosWS_Pedidos" serializeAs="String">
                <value>http://190.3.78.12/wsCatalogo4/Pedidos.asmx</value>
            </setting>
            <setting name="Catalogo_RecibosWS_Recibos_v_303" serializeAs="String">
                <value>http://190.3.78.12/wsCatalogo4/Recibos_v_303.asmx</value>
            </setting>
            <setting name="Catalogo_RendicionWS_Rendicion" serializeAs="String">
                <value>http://190.3.78.12/wsCatalogo4/Rendicion.asmx</value>
            </setting>
        </Catalogo.Properties.Settings>
    </applicationSettings>
</configuration>